[Unit]
Description=The Lounge IRC client
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStart=/opt/node_n/bin/thelounge start --home /home/yunohost.app/__APP__/
Restart=always

[Install]
WantedBy=default.target

