[Service]
ExecStart=/usr/bin/node /var/www/thelounge/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=thelounge
User=thelounge
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
