[Unit]
Description=The Lounge IRC client
After=__APP__.service

Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
ExecStartPre=__NODEJS__
Environment="PATH=__ENV_PATH__"
ExecStart=__NODE__ /var/www/thelounge/index.js start --home /home/yunohost.app/__APP__/
Restart=always
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target

